/* import the roboto font family */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  background-color: rgb(218, 212, 212);
}

#main #title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 150px;
  background-color: #d7b799;
}
#title p.description {
  font-style: italic;
  margin-top: 20px;
}

#main {
  width: 90vw;
  background-color: white;
  margin: 10px auto 0 auto;
}

#main .img-div {
  background-color: #f5e8bc;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding-bottom: 10px;
}
#main #image {
  border-radius: 0 0 1rem 1rem;
  max-width: 100%;
  min-width: 180px;
  max-height: auto;
  min-height: 300px;
  border: 3px solid #bb9e3e;
}

#main > .img-div > #img-caption {
  margin-top: 0.5rem;
  justify-self: end;
  font-size: 90%;
}
#tribute-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tribute-info ul {
  margin-top: 10px;
  margin-left: 20px;
}
#tribute-info section {
  display: flex;
  flex-direction: column;
}
#tribute-info section h2 {
  text-align: center;

  text-decoration: underline overline;
}

#tribute-info-letter {
  width: 50vw;
  border: 1px dotted rgb(26, 23, 23);
  background: url("../assets/papelvelho.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  #tribute-info-letter {
    width: 80vw;
  }
}
#tribute-info-letter h3 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-top: 20px;
}
#tribute-info-letter p {
  padding: 25px;
  font-style: italic;
}
#tribute-link {
  font-size: 1.1rem;
}
#footer {
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
}

#footer > a {
  padding-left: 10px;
}
article span {
  margin-top: 20px;
  margin-bottom: 20px;
}
ul li {
  padding-top: 8px;
}
